nextApp:
  component: '@sls-next/serverless-component@1.19.0-alpha.0'
  inputs:
    env:
      MAILCHIMP_API_KEY: ${env.MAILCHIMP_API_KEY}
      MAILCHIMP_SERVER_PREFIX: ${env.MAILCHIMP_SERVER_PREFIX}
      MAILCHIMP_AUDIENCE_ID: ${env.MAILCHIMP_AUDIENCE_ID}
    cloudfront:
      defaults:
        forward:
          headers: [Host]
    domain: ['sggplayoffs.com']
    domainType: 'both'
    domainRedirects:
      www.sggplayoffs.com: https://sggplayoffs.com
